body{
  
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;
margin: 0;
}

.title{
text-align: center;
padding: 14px;
background-color:red;
color: white;
}


  .container1{
    
   border-style: initial;
    background: dimgray;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
  }
  .container2{
    background: dimgray;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
  }

 


